/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'GUNZIP_FASTA' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'GUNZIP_GTF' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'GUNZIP_GFF' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'UNTAR_SPACERANGER_REF' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'GFFREAD' {
        publishDir = [
            enabled: false
        ]
    }

    withName: SPACERANGER_MKGTF {
        publishDir = [
            path: "${params.outdir}/reference/mkgtf",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = "--attribute=gene_biotype:protein_coding \
                    --attribute=gene_biotype:lincRNA \
                    --attribute=gene_biotype:antisense \
                    --attribute=gene_biotype:IG_LV_gene \
                    --attribute=gene_biotype:IG_V_gene \
                    --attribute=gene_biotype:IG_V_pseudogene \
                    --attribute=gene_biotype:IG_D_gene \
                    --attribute=gene_biotype:IG_J_gene \
                    --attribute=gene_biotype:IG_J_pseudogene \
                    --attribute=gene_biotype:IG_C_gene \
                    --attribute=gene_biotype:IG_C_pseudogene \
                    --attribute=gene_biotype:TR_V_gene \
                    --attribute=gene_biotype:TR_V_pseudogene \
                    --attribute=gene_biotype:TR_D_gene \
                    --attribute=gene_biotype:TR_J_gene \
                    --attribute=gene_biotype:TR_J_pseudogene \
                    --attribute=gene_biotype:TR_C_gene"
    }

    withName: SPACERANGER_MKREF {
        publishDir = [
            path: "${params.outdir}/reference/mkref",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CAT_FASTQ' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'FQ_LINT' {
        publishDir = [
            enabled: false
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: SPACERANGER_COUNT {
        publishDir = [
            [
                path: { "${params.outdir}/count/" },
                mode: params.publish_dir_mode,
                pattern: "*web_summary.html",
                saveAs: { "${meta.id}_web_summary.html" }
            ],
            [
                path: { "${params.outdir}/count/" },
                mode: params.publish_dir_mode,
                pattern: "outs",
                saveAs: { "${meta.id}" }
            ]
        ]
        ext.args   = "--create-bam true"
        time   = { 240.h * task.attempt }
    }

    withName: 'COLLECT_SPACERANGER_METRICS' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SPACERANGER_TO_ZARR' {
        publishDir = [
            enabled: false
        ]
        memory = { 24.GB * task.attempt }
    }

    withName: 'TAR' {
        ext.prefix = { "${meta.id}.zarr" }
        publishDir = [
            path: "${params.outdir}/count",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SPATIAL_QUALITY_CONTROL' {
        publishDir = [
            path: "${params.outdir}/quality_control",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*png"
        ]
        memory = { 24.GB * task.attempt }
    }

    withName: 'COLLECT_QC' {
        publishDir = [
            path: "${params.outdir}/quality_control",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "qc_metrics.csv"
        ]
    }

    withName: 'IMAGE_TO_TIFF' {
        publishDir = [
            enabled: false
        ]
        memory = { 128.GB * task.attempt }
    }

    withName: 'CELLPOSE_SEGMENTATION' {
        publishDir = [
            path: "${params.outdir}/cell_segmentation",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'SEGMENTATION_AND_MICROSCOPY_PLOTS' {
        publishDir = [
            enabled: false
        ]
        memory = { 64.GB * task.attempt }
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
